<html>

<body>

  <br><br>
  <br>
  <div class="container mt-6 p-2 text-white rounded ">
    <div style="background: #958a5f"> <br> <br>

      <h1 class="text-center">Welcome to the Cooperative Training website</h1>
      <br>
      <h4 class="text-center">at King Salman bin Abdulaziz Medical City</h4> <br>
      <p class="text-center">Is the first Integrated Medical City
        serving the Madinah area, previously known as the Madinah hospitals complex<br><br>
        The city includes: (General Hospital, maternity and Children Hospital, and Al-Amal mental health complex).
        <br> <br> <br> <br>
      </p>
      <br>
    </div>
  </div>

</body>

</html>